.panel-game{
    background: url(./maxresdefault.jpg) center;
    height: 720px;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 20px;
}

.panel-question {
    background: radial-gradient( #9198e5, #5460cc, #110e92, #020135);
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    color:azure;
}

.panel-button-game {
    background: radial-gradient( #9198e5, #5460cc, #110e92, #020135);
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    color:azure;
}

.panel-button-correct {
    background: radial-gradient( #4cb92b, #4cb92b, #50913c, #020135);
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    color:azure;
}

.panel-button-game:hover{
    background: radial-gradient( #8a90d1, #515bb6, #110f79, #020135);
    border: 1px solid yellow;
    color:azure;
}

.panel-win {
    background: radial-gradient( #9198e5, #5460cc, #110e92, #020135);
    height: 720px;
    border: 1px solid white;
    border-radius: 20px;
}

.colors-white {
    text-align: center;
    color:azure;
}