body {
  background: radial-gradient( #9198e5, #5460cc, #110e92, #020135) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

